<div class="container">
  <header class="my-4">
    <h1 class="text-center">Bus Booking System</h1>
  </header>

  <!-- Search Form -->
  <section>
    <div class="container mt-5 d-flex justify-content-center">
      <form class="search-form d-flex align-items-center shadow-lg">
        <div class="row w-100 text-white">
          <div class="col-md-3 d-flex align-items-center">
            <div class="input-group">
              <span class="input-group-text"><i
                  class="bi bi-bus-front"></i></span>

              <select class="form-select"
                [(ngModel)]="searchObject.fromLocation" name="fromLocation">
                <option disabled>From Your Location</option>
                <!-- Without the square brackets, value would be treated as a simple HTML attribute, meaning it would only accept a string literal, not dynamic data from your component. here coming data type will be as it is -->

                <!-- <option value="{{ item.locationId }}">{{ item.locationName }}</option>  here coming data type of number will be converted into string  -->
                <option *ngFor="let item of locationData"
                  [value]="item.locationId">
                  {{ item.locationName }}
                </option>
              </select>

            </div>
          </div>
          <div
            class="col-md-1 text-center d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-left-right fs-3"></i>
          </div>
          <div class="col-md-3 d-flex align-items-center">
            <div class="input-group">
              <span class="input-group-text"><i
                  class="bi bi-bus-front"></i></span>
              <select class="form-select" [(ngModel)]="searchObject.toLocation"
                name="toLocation">
                <option disabled selected>To Your Location</option>
                <option *ngFor="let item of locationData"
                  [value]="item.locationId">
                  {{ item.locationName }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-center">
            <div class="input-group">
              <span class="input-group-text"><i
                  class="bi bi-calendar"></i></span>

              <input type="date" class="form-control"
                [(ngModel)]="searchObject.travelDate" placeholder="Date"
                name="travelDate" />
            </div>
          </div>
          <div class="col-md-2 text-center">
            <button type="button" (click)="onSearch()"
              class="btn btn-light text-danger w-100">
              SEARCH BUSES
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- Buses List -->
  <section id="buses-list" class="my-4">
    <h2>Available Buses</h2>
    <div class="row" *ngFor="let item of bustList">
      <div class="col-12">
        <div class="card mb-3" > 
          <div class="row g-0">
            <div
              class="col-md-3 d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title">{{item.busName}}</h5>
              <p class="card-text">{{item.vendorName}}</p>
            </div>
            <div class="col-md-9">
              <div class="card-body row">
                <div class="col-md-2">
                  <p class="card-text"><strong>{{item.departureTime | date:'hh:mm:ss'}}</strong></p>
                  <p class="card-text">Departure</p>
                </div>
                <div class="col-md-2">
                  <p class="card-text"><strong>16 hr</strong></p>
                  <p class="card-text">Duration</p>
                </div>
                <div class="col-md-2">
                  <p class="card-text"><strong>{{item.arrivalTime | date:'hh:mm:ss'}}</strong></p>
                  <p class="card-text">Arrival</p>
                  <p class="text-danger">{{item.arrivalTime | date:'dd:MM:yyyy'}}</p>
                </div>
                <div class="col-md-2">
                  <p class="card-text"><strong>4.5</strong> ⭐</p>
                  <p class="card-text">567 Ratings</p>
                </div>
                <div class="col-md-2">
                  <p class="card-text"><strong>INR {{item.price}}</strong></p>
                  <p class="card-text">{{item.availableSeats}} Seats available</p>
                </div>
                <div class="col-md-2 text-end">
                  <button class="btn btn-danger" [routerLink]="['booking/'+item.scheduleId]">BOOK SEATS</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
</div>